body{
    margin-top: 62px;
    background-color: #b9a2a2;
}
.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 9px solid #ccc;
    border-radius: 10px;
    background-color: #000000;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 35px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button:hover{
    background-color: #9cacaf;
    color: #fff34b;
    transform: scale(1.1);
    transition: 0.2s ease
}

button {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;

}
.img{
    position: relative;
    top: 10px;
    left: -632px;
}

footer a img{
    height: 40px;
    /* width: 30px; */
}
